---
# Fake front matter to ensure Jekyll reads the file
---

$base-colour: #795548;/* Google brown 500 */
$white-colour: #D7CCC8; 
$black-colour: #3E2723;
$grey-colour: #424242;

h1,h2,h3,h4{
	font-family: Lato, sans-serif;
	color: $grey-colour;
}

.jumbotron{
	padding-top: 100px;
	background-color: $base-colour;
}

.navbar{
	font-family: Lato, sans-serif;
	background-color: $white-colour;
	border-color: $white-colour;
	color: $black-colour;
}

p{
	font-family: Lato, sans-serif;
	font-size: 16px;
}

pagetitle{
	font-family: Vollkorn, serif;
	font-size: 72px;
	color: $white-colour;
}

