---
layout: default
title: Curriculum Vitae
---

<div class="toast"><b>Note:</b> My comprehensive C.V. is still in development. Some projects and courses are listed below.</div>
<br>
You can also view a concise <a class="btn" target="_blank" href="/images/resume.pdf">résumé</a> instead. I am also available on <a class="btn" target="_blank" href="https://www.linkedin.com/in/darshan-soni-97b59565/">LinkedIn</a> and <a class="btn" target="_blank" href="https://www.xing.com/profile/Darshan_Soni?sc_o=mxb_p">Xing</a>. See my software repositories on <a target="_blank" class="btn" href="https://github.com/darshandsoni">GitHub</a>.

<h2>Projects</h2>

<div class="columns">
{% for item in site.projects %}
<div class="column col-lg-4 col-md-3">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">{{item.title}}</h1>
      <h2 class="card-subtitle">{{item.subtitle}}</h2>
    </div>
    <div class="card-image">
      <img class="img-responsive" src="{{item.image}}">
    </div>
    <div class="card-body">
      {{item.content}}
      {% if item.website %}
        <a class="btn btn-default" href="{{item.website}}">Project website</a>
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}
</div>

<h2>Courses</h2><hr>

<h3>UBC Fourth Year</h3>
<div class="bar">
  <div class="bar-item tooltip" data-tooltip="90%" style="width:90%;">90% Complete</div>
</div>
<div class="container">
  <div class="columns">
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>IGEN 430<br>Advanced Engineering Design Project</h4>
      <p>Projects involving all material in the curriculum of the Integrated Engineering Program. Students will be expected to propose a project and complete the design and construction of a prototype. Restricted to students in the fourth year of the Integrated Engineering program.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>CIVL 305<br>Environmental Impact Studies</h4>
      <p>Sustainability and environmental stewardship; environmental impact assessment legislation; design and construction considerations useful in minimizing and mitigating such impacts.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>APSC 450<br>Professional Engineering Practice</h4>
      <p>Legislation affecting the practice of engineering; ethical principles and responsibilities. Management of engineering enterprises; labour relations, safety and environmental legislation.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>MINE 482<br>Maintenance Engineering</h4>
      <p>Analytical foundation for maintenance of industrial plant equipment and mobile equipment in various production environments; maintenance planning and management, life cycle analysis, reliability theory, total quality maintenance, condition monitoring.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>MTRL 340<br>Manufacturing in Materials Engineering</h4>
      <p>Manufacturing processes from a materials perspective; metal casting, heat treating processes, forming processes, machining, and joining. Role of manufacturing in microstructure and material properties development and on component performance.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>MTRL 442<br>Coatings and Surface Modification 2</h4>
      <p>Strategies for ceramic and metallic coatings by melting-solidification, from the vapour state and from solution, and methods of surface modification.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>MTRL 471/571<br>Nanofibre Technology</h4>
      <p>Introduction to nanomaterials in the form of fibres and composites, including processing, structure, characterization methods, properties, and modeling.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>CIVL 403<br>Engineering Economic Analysis</h4>
      <p>Time value of money; cash flow analysis; comparing options; depreciation, taxes, and inflation; financial accounting; company structures; public sector projects; decision-making.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>CHBE 356<br>Process Dynamics and Control</h4>
      <p>Introduction to modeling of chemical processes; transient response analysis; design of feedback control systems; stability analysis; frequency response analysis; process control applications; instrumentation; advanced control techniques; distributed control systems.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
      <h4>CIVL 440<br>Transportation Engineering 2</h4>
      <p>Traffic operations and network analysis: traffic studies and data design; traffic stream flow and roadway analysis; weaving and interchange ramp analysis; intersection traffic control measures and control design; progressive signal system design; flows prediction; road network simulation and assignment algorithms; motor vehicle accident analysis; field exercises.</p>
    </div>
  </div>
</div>
<hr>
<h3>UBC Third Year</h3>
<div class="bar">
  <div class="bar-item tooltip" data-tooltip="100%" style="width:100%;">100% Complete</div>
</div>
<div class="container">
  <div class="columns">
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>CIVL 340<br>Transportation Engineering 1</h4>
			<p>The analysis and design of the elements of transportation facilities in development of transport technology; vehicle motion; vehicle/pavement interaction; elements of road design; principles of queuing and roadway capacity; rail transit performance and capacity analysis; economics as applied to transport.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>CIVL 320<br>Civil Engineering Materials</h4>
			<p>The structure and properties of common Civil Engineering materials: aggregates, Portland cement, concrete, asphalt, timber and metals. The emphasis is on the relationship between the structure of materials and their mechanical properties.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>MECH 360<br>Mechanics of Materials</h4>
			<p>Beam deflections, singularity functions; use of tabulated solutions; column buckling; Castigliano’s theorem, statically indeterminate beams, bending of beams with asymmetric cross-sections, shear centre; principal stresses and stress invariants in three dimensions</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>CIVL 375<br>Heat Transfer 1</h4>
			<p>Steady and transient conduction. Radiation heat transfer; blackbody laws, optical properties of surfaces, radiative heat exchange. Convective heat and mass transfer in pipes and from external surfaces. Design of heat exchangers.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>CHBE 344<br>Unit Operations 1</h4>
			<p>Characterization of particles, droplets, and bubbles; comminution, screening and classification; filtration, sedimentation, centrifugal separations and fluidization; thermal operations including evaporation and crystalization. </p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>IGEN 330<br>Intermediate Engineering Design</h4>
			<p>Intermediate level engineering design projects involving material in the curriculum of the Integrated Engineering program. </p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>IGEN 340<br>Technology Entrepreneurship</h4>
			<p>Theory and skills needed for engineers to capitalize on the opportunities that exist in commercializing technology, including the relationships between ideas and opportunities, customers and competition, and products and solutions.</p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>STAT 251<br>Elementary Statistics</h4>
			<p>Probability, discrete and continuous random variables, joint probability distributions, estimation, hypothesis testing, regression, analysis of variance, goodness of fit. </p>
    </div>
    <div class="column col-4 col-md-6 col-sm-12">
    	<h4>MTRL 494/594<br>Composite Materials</h4>
			<p>Understanding the properties and the mechanical behaviour of composite materials with emphasis on analysis, design, and manufacturing. </p>
    </div>
  </div>
</div>
