<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="btn btn-link navbar-brand mr-10"><h3>Darshan Soni</h3></a>
  </section>
  <section class="navbar-section">
    <a href="/about.html" class="btn btn-link"><h4>About</h4></a>
    <a href="/articles.html" class="btn btn-link"><h4>Articles</h4></a>
    <a href="/publications.html" class="btn btn-link"><h4>Publications</h4></a>
    <a href="/cv.html" class="btn btn-link"><h4>C.V.</h4></a>
    <a href="/contact.html" class="btn btn-link"><h4>Contact</h4></a>
  </section>
  <section class="navbar-section">
  </section>
</header>
